
  <div class="ui basic segment container">
  <!-- paragraph 1-->
  <div class="ui fluid placeholder">
    <div class="image header">
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

  </div>
  </div>

  <div class="ui basic segment container">
  <!-- paragraph 2-->
  <div class="ui three column stackable grid">
      <div class="column">
        <div class="ui raised segment">
          <div class="ui placeholder">
            <div class="image header">
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="paragraph">
              <div class="medium line"></div>
              <div class="short line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="ui placeholder">
            <div class="image header">
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="paragraph">
              <div class="medium line"></div>
              <div class="short line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="ui placeholder">
            <div class="image header">
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="paragraph">
              <div class="medium line"></div>
              <div class="short line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
