<div class="ui text container">
  <!-- Header -->
  <div class="ui dividing header">
    <i class="icon list"></i>
    <div class="content">
      Reservation List
      <div class="sub header">
        Detail Information
      </div>
    </div>
  </div>

        
    <!--  -->
    <button class="ui mini icon button" 
      (click)="manuallyUpdate()"
      title="Manually Update, Please Click This button">
      <i class="icon refresh"></i>
      {{ "Updated on: " + ltsTimeStamp.toUTCString() }}
    </button>


  <!-- No Record Found -->
  <div class="ui positive icon message" *ngIf="revList.length == 0">
      <i class="inbox icon"></i>
      <div class="content">
        <div class="header">No Record Found</div>
        <a class="ui link">Reserve now!</a>
      </div>
  </div>
  
  <!-- Record Found -->
  <div *ngIf="revList.length != 0">
    <app-revitem
      *ngFor="let revItem of revList; let seqNo = index"
      [revItem]="revItem"
      [revStatusMap]="revStatusMap"
      [revDurationMap]="revDurationMap"
      [seqNo]="seqNo"
      [seqFrom]="seqFrom"
      [seqTo]="seqTo"
      (onCommentEvent)="processCommentEvent($event)"
      (onCancelEvent)="processCancelEvent($event)"
      >
    </app-revitem>

    <app-listcontoller 
      [curPageNo]="curPageNo"
      [totPageNo]="totPageNo"
      (onChangePageNo)="setPage($event)"
        ></app-listcontoller>
  </div>

  <app-revitem-dialog-cancel></app-revitem-dialog-cancel>
  <app-revitem-dialog-comment></app-revitem-dialog-comment>
</div>