<div class="ui container">
  <div class="ui inverted secondary menu">

    <a class="item" [routerLink]="['home']" routerLinkActive="active" >
      <i class="icon home"></i>
      Home
    </a>

    <a class="item" [routerLink]="['newRev']" routerLinkActive="active" *ngIf="menGurard.canActivate()" >
      <i class="icon bed"></i>
      New Rev
    </a>

    <a class="item" [routerLink]="['revList']" routerLinkActive="active" *ngIf="menGurard.canActivate()">
      <i class="icon list"></i>
      Reservation
    </a>

    <a class="item" *ngIf="menGurard.canActivate()">
      <i class="icon user md"></i>
      {{ 'Massgist' }}
    </a>

    <a class="item">
      <i class="icon info"></i>
      FAQ
    </a>

    <div class="right item">
      <button class="ui inverted basic button" 
              *ngIf="!loginService.isLogin()"
              (click)="loginService.login()">Sign in</button>

      <app-myheader-menu-ucp *ngIf="loginService.isLogin()"></app-myheader-menu-ucp>
 

    </div>
    
  </div>

</div>