
  <div class="ui inverted teal borderless main  menu">
    <div class="ui container">
    <a class="item" [routerLink]="['home']" routerLinkActive="active" >
      <i class="icon home"></i>
      Home
    </a>

    <a class="item" [routerLink]="['newRev']" routerLinkActive="active" *ngIf="menGurard.canActivate()" >
      <i class="icon bed"></i>
      New Rev
    </a>

    <a class="item" [routerLink]="['revList']" routerLinkActive="active" *ngIf="menGurard.canActivate()">
      <i class="icon list"></i>
      Reservation
    </a>

    <a class="item" *ngIf="menGurard.canActivate()">
      <i class="icon user md"></i>
      {{ 'Massgist' }}
    </a>

    <a class="item" *ngIf="menGurard.canActivate()">
      <i class="icon info"></i>
      FAQ
    </a>

    <!-- Massgist -->
    <a class="item" [routerLink]="['revList2Masg']" routerLinkActive="active" *ngIf="menuGuardMasg.canActivate()" >
        <i class="icon list"></i>
        Reservation
    </a>

    <!-- Admin -->
    <!-- <a class="item" [routerLink]="['']" routerLinkActive="active" *ngIf="menuGuardAdmin.canActivate()" >
        <i class="icon clock"></i>
        Change Duration
    </a> -->

    

    <div class="right item">
      <button class="ui inverted basic button" 
              *ngIf="!masgUserService.getStatus()"
              (click)="showLoginPanel()">Sign in</button>

      <app-myheader-menu-ucp *ngIf="masgUserService.getStatus()"></app-myheader-menu-ucp>
 

    </div>
    
  </div>
</div>
