<div class="ui container">
  <div class="ui inverted secondary menu">

    <a class="item">
      <i class="icon home"></i>
      Home
    </a>

    <a class="item">
      <i class="icon bed"></i>
      New Rev
    </a>

    <a class="item">
      <i class="icon list"></i>
      Reservation
    </a>

    <a class="item">
      <i class="icon user md"></i>
      {{ 'Massgist' }}
    </a>

    <a class="item">
      <i class="icon setting"></i>
      Setting
    </a>

    <a class="item">
      <i class="icon info"></i>
      FAQ
    </a>

    <div class="right item">
      <button class="ui inverted basic button">Sign in</button>
    </div>
    
  </div>

</div>