  <!-- Router -->
  <router-outlet></router-outlet>

  <!--  -->
  <div class="ui basic test modal">
      <div class="header">Confirmation</div>
      <div class="content">
        Click Yes to Continue
      </div>
      <!--  -->
      <div class="actions">
          <div class="ui red basic cancel inverted button">
              <i class="remove icon"></i>
              No
          </div>
          <div class="ui green ok inverted button">
              <i class="checkmark icon"></i>
              Yes
          </div>
    </div>
  </div>
