<div class="ui raised segment" id="revitem"
    [ngClass]="statusColor"
    *ngIf="this.seqFrom <= this.seqNo && this.seqNo <= this.seqTo">

  <!-- Cancel / Comment Button -->
    <button class="ui tiny right floated icon button" 
           [class.disabled]='disableCancel()'
           (click)="revCancel()">
      <i class="icon cancel"></i>
    </button>

    
    <button class="ui tiny right floated icon button"
            [class.disabled]='disableComment()'
            (click)="revComment()">
      <i class="icon comment"></i>
    </button>

  <!-- Massgist Info -->
    <div class="ui grey basic left floated header">
      <i class="icon user md"></i>
      {{ revItem.revMasg }}
    </div>

  <!-- Divider -->
    <div class="ui horizontal clearing divider">
      <label class="ui medium label" [ngClass]="statusColor">
        {{ statusDesc }} 
      </label>
    </div>

  <!-- Rev Date Time and Location -->
    <div class="ui equal width stackable grid">

      <!-- Time -->
      <div class="column">
        <label class="ui fluid icon basic grey label">
          <i class="icon clock"></i>
          {{ revTimeDesc }}
        </label>
      </div>

      <!-- Date -->
      <div class="column">
        <label class="ui fluid icon basic grey label">
          <i class="icon calendar"></i>
          {{ revItem.revDate }}
        </label>
      </div>

      <!-- Floor -->
      <div class="column">
        <label class="ui fluid icon basic grey label">
          <i class="icon flag"></i>
          {{ revItem.revFloor }} F
        </label>
      </div>

      <!-- Building -->
      <div class="column">
        <label class="ui fluid icon basic grey label">
          <i class="icon building"></i>
          {{ revItem.revBuilding }}
        </label>
      </div>
  </div>

  <!-- Message -->
  <app-revitem-msg-ontime *ngIf="!disableCancel()"></app-revitem-msg-ontime>
  <app-revitem-msg-comment *ngIf="!disableComment()"></app-revitem-msg-comment>
</div>
