  <!--  -->
  <div class="ui center aligned basic segment">
    <!--  -->
    <div class="ui inverted header">
      <i class="info icon"></i>
      Confirmation
    </div>
  
    <p>Are you sure to cancel your reservation?</p>

    <!--  -->
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>

  </div>
