
<div class="ui horizontal hidden divider"></div>

<div class="ui raised teal segment">

  <!--  -->
  <div class="ui center aligned stackable divided grid">
  <div class="row">
    <!--  -->
    <div class="four wide middle aligned column">
      <app-rev-panel-date-item-masg-panel></app-rev-panel-date-item-masg-panel>
    </div>

    <!--  -->
    <div class="twelve wide column">
      
      <!--  -->
      <div class="ui equal width stackable grid">
        <div class="row">
            <app-rev-panel-date-item-days></app-rev-panel-date-item-days>
            <app-rev-panel-date-item-days></app-rev-panel-date-item-days>
            <app-rev-panel-date-item-days></app-rev-panel-date-item-days>
            <app-rev-panel-date-item-days></app-rev-panel-date-item-days>
            <app-rev-panel-date-item-days></app-rev-panel-date-item-days>
        </div>
      </div>
    </div>

  </div>
  </div>

</div>