<div class="ui footer inverted teal vertical center aligned  segment">
  
  <div class="ui container">

    <!-- Support -->
    <div class="ui three column divided stackable grid">
      <div class="row">
      <div class="column">
          <div class="ui link inverted  list">
            <div class="ui inverted header">
            About
            </div>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
          </div>
        </div>

        <div class="column">
          <div class="ui link inverted list">
            <div class="ui inverted header">
            Contact Us
            </div>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
          </div>
      </div>

      <div class="column">
          <div class="ui link inverted list">
            <div class="ui inverted header">
            Support
            </div>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
            <a class="item">Item A</a>
          </div>
      </div>
    </div>
    </div>

    <!-- CopyRight -->
    <div class="ui inverted header">
      <div class="content">
        My Massage
        <div class="sub header">
          Copyright 2018 ACN
        </div>
      </div>
    </div>
  </div>

</div>
