<div class="ui text container">
  <!-- Header -->
    <div class="ui dividing header">
      <i class="icon list"></i>
      <div class="content">
        Reservation List
        <div class="sub header">
          Detail Information
        </div>
      </div>
    </div>
  
  <!-- Date Panel -->
    <div class="ui icon input">
      <i class="icon search"></i>
      <input type="Date" />
    </div>

  <!-- Detial Panel -->
    <app-reservation-panel2-masg-list></app-reservation-panel2-masg-list>

</div>