/* You can add global styles to this file, and also import other style files */
/* header.started */
.ui.started{
    padding: 100px 0px;
}

/* footer  */
.ui.footer{
    padding: 50px 0px;
}

/* revitem */
#revitem{
    margin: 20px 0px;
}