        
    <!--  -->
        <button class="ui mini icon button" 
            (click)="manuallyUpdate()"
            title="Manually Update, Please Click This button">
            <i class="icon refresh"></i>
            {{ "Updated on: " + ltsTimeStamp.toUTCString() }}
        </button>
    <!--  -->
        <label class="ui right floated red label"
            *ngIf="!revBlkFlag && !revFlag"
        >
            New Reservation is not allowed for current Month. ( Maximuam Rev: 2 Rev per Month )
        </label>

    <!--  -->
        <label class="ui right floated red label"
            *ngIf="revBlkFlag "
        >
            New Reservation is not allowed.
            ( Due to recently No Show record. 
            From {{ masgUserDetail.revBlockedDate }} to {{ masgUserDetail.revReleaseDate}} )
        </label>
    <!--  -->
        <app-rev-panel-date-item
            *ngFor="let revMasg of this.revPanel.revMasgList"
            [revPanelItem]="this.revPanel.revPanelItemMap[revMasg]"
            (onRevEvent)="onNewRev($event)"
            [disableAll]="!this.revFlag || this.revBlkFlag"
        ></app-rev-panel-date-item>

